<h2>Welcome to team <%= @team.name %> page</h2>



<table width="50%">
    <caption><%= @team.name %> dispatchers team</caption>
    <th>Name</th>
    <th>Email</th>
        <% @dispatchers.each do |disp| %>
            <tr>
                <td><a href="/dispatchers/<%= disp.id%>"><%= disp.name %></a></td>
                <td><%= disp.email %></td>
            </tr>
        <% end %>
    
</table>