<h2>Welcome to team <%= @team.name %> page</h2>



<table width="50%">
    <caption><%= @team.name %> dispatchers team</caption>
    <th>Name</th>
    <th>Email</th>
        <% @dispatchers.each do |disp| %>
            <tr>
                <td><a href="/dispatchers/<%= disp.id%>"><%= disp.name %></a></td>
                <td><%= disp.email %></td>
            </tr>
        <% end %>
</table>

<table>
    <caption><%= @team.name %> load board</caption>
    <th>Load number</th>
    <th>Pickup</th>
    <th>Delivery</th>
    <th>Loaded miles</th>
    <th>Amount paid</th>
    <th>Dispatcher</th>
    <th>Driver</th>
</table>
<br>
<div id="btn-show">
    <a class="button" href="/teams/<%=@team.id%>/drivers">Go to <%= @team.name %> drivers</a>
</div>
<div id="btn-edit">
        <a class="button" href="/teams/edit">Edit team</a>
</div>
<div id="btn-delete">
        <a class="button" href="/teams/delete">Delete team</a>
</div>