<h2>Welcome to team <%= @team.name %> page</h2>

<p>Name: <b><%= @team.name %></b></p>
<p>Team number in our system: <b><%= @team.id %></b>

<table width="50%">
    <caption><%= @team.name %> dispatchers team</caption>
    <th>Name</th>
    <th>Email</th>
        <% @dispatchers.each do |disp| %>
            <tr>
                <td><a href="/dispatchers/<%= disp.id%>"><%= disp.name %></a></td>
                <td><%= disp.email %></td>
            </tr>
        <% end %>
</table>


<br>
<div id="btn-show">
    <a class="button" href="/teams/<%=@team.id%>/drivers">Go to <%= @team.name %> drivers</a>
</div>
<div id="btn-show">
    <a class="button" href="/teams/<%=@team.id%>/loads">Go to <%= @team.name %> loads</a>
</div>
<div id="btn-edit">
        <a class="button" href="/teams/<%=@team.id%>/edit">Edit team name</a>
</div>
<div id="btn-delete">
        <a class="button" href="/teams/<%=@team.id%>/delete">Delete team</a>
</div>
