
<h2><%= @team.name %> team</h2>
<h3>Load board</h3>
<table>
    <caption>Dispatcher: <%= @dispatcher.name %></caption>
    <th>Pickup</th>
    <th>Delivery</th>
    <th>Miles</th>
    <th>Amount</th><br>
    <% @dispatcher_loads.each do |load| %>
        <tr>
            <td><%= load.pickup %></td>
            <td><%= load.delivery %></td>
            <td><%= load.miles %></td>
            <td><%= load.amount %></td>
        </tr>
    <% end %>
</table>

