
<h2><%= @team.name %> team</h2>
<p>Dispatcher Name: <b><%= @dispatcher.name %></b></p>
<p>Username: <b><%= @dispatcher.username %></b></p>
<p>Email: <b><%= @dispatcher.email %></b></p>
<h3>Load board</h3>
<div id="table-cnt">
    <table>
        <caption>Dispatcher: <%= @dispatcher.name %></caption>
        <th>Load id</th>
        <th>Pickup</th>
        <th>Delivery</th>
        <th>Miles</th>
        <th>Amount</th><br>
        <% @loads.each do |load| %>
            <tr>
                <td><a href="/loads/<%=load.id%>"><%= load.id %></a></td>
                <td><%= load.pickup %></td>
                <td><%= load.delivery %></td>
                <td><%= load.miles %></td>
                <td><%= load.amount %></td>
            </tr>
        <% end %>
    </table>
</div>
<br><br>
<div id="btn-edit">
        <a class="button" href="/dispatchers/<%=@dispatcher.id%>/edit">Edit dispatcher</a>
</div>
<div id="btn-delete">
        <a class="button" href="/dispatchers/<%=@dispatcher.id%>/delete">Delete dispatcher</a>
</div>



